.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  justify-items: center;
}

@media (max-width: 420px) {
  .board {
    grid-template-columns: repeat(3, fit-content(6em));
    justify-content: center;
  }
}
