.square {
  height: 9em;
  width: 9em;
  padding: 2em;
  background: #1f3641;
  box-shadow: inset 0px -8px 0px #10212a;
  border-radius: 15px;
  border: none;
}

.winning-x-row {
  background-color: #31c3bd;
  opacity: 0.5;
  border-radius: 15px;
  border: none;
  /* background: url(./assets/icon-x-outline.svg); */
}

.winning-o-row {
  background-color: #f2b137;
  border-radius: 15px;
  opacity: 0.5;
  border: none;
  /* background: url(./assets/icon-o-outline.svg); */
}
