.square {
  height: 9em;
  width: 9em;
  padding: 2em;
  background: #1f3641;
  box-shadow: inset 0px -8px 0px #10212a;
  border-radius: 15px;
  border: none;
}

.square-o-turn {
  height: 9em;
  width: 9em;
  padding: 2em;
  background: #1f3641;
  box-shadow: inset 0px -8px 0px #10212a;
  border-radius: 15px;
  border: none;
}

.square-x-turn {
  height: 9em;
  width: 9em;
  padding: 2em;
  background: #1f3641;
  box-shadow: inset 0px -8px 0px #10212a;
  border-radius: 15px;
  border: none;
}

.square-o-turn:hover {
  background-image: url(./assets/icon-o-outline.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.square-x-turn:hover {
  background-image: url(./assets/icon-x-outline.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.winning-x-row {
  background-color: #31c3bd;
}

.winning-o-row {
  background-color: #f2b137;
}

@media (max-width: 420px) {
  .square,
  .square-o-turn,
  .square-x-turn {
    width: 6.5em;
    height: 6.5em;
    padding: 1.3em 1.3em 1.5em 1.5em;
  }
}
